:root {
    --main-color: #333;
    --main-text-color: #fff;
}
a{
    color: var(--main-color);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

header nav{
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
}