:root {
    --main-color: #333;
    --main-text-color: #fff;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-color);
}

header nav {
    display: flex;
    color: var(--main-text-color);
    justify-content: space-between;
}

header nav .logo{
    width: 15pc;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li{
    color: var(--main-text-color);
}